.info-card {
  background-color: #F7F9FA;
  border: 1px solid #e0e8ec;
  padding: 16px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 32px;
}

.small {
  font-size: 0.85em;
  color: rgba(0,0,0,0.6);
  margin-right: 16px;
}

.name {
  color: #3065b7;
}

.link-select {
  width: 110px;
  color: #3065b7 !important;
}

.link-select::after {
  display: none;
}

.link-select::before {
  display: none;
}

.link-select div:focus {
  background-color: inherit;
}